<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative ">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="img/bg4.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Aspen</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">The power Of Peaceful Mind</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">The strongest people are not those who show
                                strength in front of the world but those who fight and win battles that others do not
                                know anything about.</p>
                            <a href="/quiz" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Know
                                More</a>
                            <a href="/chatbot" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Text here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid"
                src="https://img.freepik.com/free-vector/male-teen-doing-meditation_1308-133103.jpg?w=1380&t=st=1694501332~exp=1694501932~hmac=9cfbad9fa87fa1227eff956c5861cc6d99a6c461af337762b323657ba6e01abf"
                alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Aspen</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">The power Of Peaceful Mind</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Anything that’s human is mentionable, and
                                anything that is mentionable can be more manageable. When we can talk about our
                                feelings, they become less overwhelming, less upsetting, and less scary.</p>
                            <a href="/quiz" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Know
                                More</a>
                            <a href="/chatbot" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Text here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid"
                src="https://img.freepik.com/free-vector/happy-young-people_24908-56817.jpg?w=1060&t=st=1694502193~exp=1694502793~hmac=5008b1e71a615536085605097442a900ee37e94975ba5ec336658b9e6bf7af17"
                alt="" style="height: 750px; width: 1600px;">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(53, 53, 53, .7);">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-8 text-center">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Aspen</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">The power Of Peaceful Mind</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">If we start being honest about our pain, our
                                anger, and our shortcomings instead of pretending they don’t exist, then maybe we’ll
                                leave the world a better place than we found it.</p>
                            <a href="/quiz" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Know
                                More</a>
                            <a href="/chatbot" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Text here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->